/* Global, hefur áhrif á allar síður. */
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.container {
  margin: auto;
  overflow: hidden; }

h1, h2, h3 { font-family: 'Roboto Slab', serif; }
h1 { font-size: 4.5em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.5em; }

/* Style fyrir header sem skarast ekki við neitt annað. */
header .container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  position: fixed;
  z-index: 99; }

header #branding {
  font-family: 'Roboto Slab', serif; /* "Fooþjónustan" er link svo hérna læt ég það líta út eins og h3. */
  font-size: 1.5em;
  font-weight: bold;
  float: left; }

header nav {
  float: right;
  margin-top: 5px;
  padding-right: 30px; }

header a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 15px 8px 15px;
  cursor: pointer; }

header li {
  display: inline; }

.buyButton {
  background-color: #666666;
  border: 1px solid #666666;
  border-radius: 5px;
  transition: background-color 500ms ease, color 500ms ease; }

.buyButton:hover {
  background-color: #404040;
  border: 1px solid #cccccc; }

/* Style fyrir opnunarsíðu á forsíðu, virkar ekki fyrir backgroundið á hinar síðurnar */
.indexBackground {
  width: 100%;
  height: 100vh;
  background: transparent url(bg.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  opacity: 0.85; }

#showcase .container {
  width: 100%;
  text-align: center;
  line-height: 1.3;
  position: absolute;
  top: 38%; }

#showcase .button { margin-top: 4em; }

/* .button og .button a -- sameiginlegt fyrir alla stóra takkana á forsíðu og kaupa síðu. */
.button {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem; }

button, .button a {
  font-size: 2.25em;
  color: #ffffff;
  text-decoration: none;
  background-color: #595959;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transition: background-color 500ms ease; }

button:hover, .button a:hover {
  background-color: #333333; }

/* Breiddin á tökkunum er mismunandi svo hér þarf að skilgreina breiddina fyrir ákveðinn takka. */
.showcaseButton {
  padding-left: 0.8em;
  padding-right: 0.8em; }

/* Animation fyrir opnunarsíðu */
#showcase h2,
#showcase h1,
#showcase .showcaseButton {
  opacity: 0;
  animation: fadein 3s;
  animation-fill-mode: forwards; }

#showcase h2 {
  animation-delay: 1s; }
#showcase h1 {
  animation-delay: 2s; }
#showcase .showcaseButton {
  animation-delay: 3s; }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Style fyrir main, þ.e. allt sem er inná hvíta svæðinu á síðunni. Hér er flest allt sett í grid. */
main {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden; }

main section {
  margin-top: 10em;
  margin-bottom: 10em; }

img { width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

#advertise p { font-size: 1.125em; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

/* Style fyrir "advertise" (efsti parturinn á main). */
.check {
  display: flex;
  height: 33.33333%;
  align-items: center;

  }
.check__icon {
  position: relative;
  top: ;
}
.checkIcon {
  width: 2em;
  margin-right: 10px; }

/* Style fyrir "comments" */
.box { text-align: center; }

.circularImage {
  border-radius: 50%;
  width: 80%; }

.comments__text { /* Svo quote og nöfn haldist frá hvor öðru og textinn ruglist ekki í lágu width */
  height: 10em;
  overflow-y: auto; }

.comments__quote { /* Til þess að miðja athugasemdirnar lóðrétt */
min-height: 50%;
display: inline-flex;
align-items: center;
font-size: 1.5em;
font-style: italic;
font-weight: bold;
margin-bottom: 0.3em; }

.comments__about p:nth-of-type(1) {
  font-weight: bold; }
.comments__about p:nth-of-type(2) {
  font-size: 0.875em; }

/* Style fyrir "buyNow" (neðsti parturinn á main). */
#buyNow {
  text-align: center;
  margin-top: -4em;}

#buyNow .button {
  margin: 1em;
}
.buyNowButton {
  padding-left: 2em;
  padding-right: 2em;
}

/* Style fyrir footer. */
footer {
  background-color: #333333;
  color: #fff;
  text-align: center;
}

footer .above {
  border-bottom: 3px solid #909090;
  display: flex;
  justify-content: center;
}

footer .below {

}

