@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }
	  

/* Um Fooþjónustuna */
.blockquote {
  float: right;
  width: 50%;
  padding: 2.5em 2em;
  margin-left: 5em;
}
@media (max-width: 599px) {
  .blockquote {
    width: 100%;
  }
}

.quote_sentence {
  padding-bottom: 1em;
  font-size: 1.5em;
  font-style: italic;
  text-indent: -10px;
}

.quote_by {
  font-size: 0.9em;
}

.wrapped_text {
  display: inline;
}

.about_text {
  margin-top: 6em;
  margin-bottom: 6em;
}
